
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="fragment" content="!">
    <% include keyword.html %>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=1024, user-scalable=yes"/>
    <meta name="robots" content="all,follow"/>
    <link rel="stylesheet" href="//cdn.bootcss.com//bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
   <link type="text/css" rel="stylesheet" href="/css/app.css" />
   <link type="text/css" rel="stylesheet" href="/css/styles/solarized-light.css" />
   <script src="//cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
   <script src="//cdn.bootcss.com/angular.js/1.4.6/angular-resource.min.js"></script>
   <script src="//cdn.bootcss.com/angular.js/1.4.6/angular-route.min.js"></script>
   <script src="/common/lib/beautify.js"></script>
   <script src="/common/lib/beautify-css.js"></script>
   <script src="/common/lib/beautify-html.js"></script>
   <script src="/app.js"></script>
   <script src="/controllers/formattext.js"></script>
</head>
<body>
